cost/wsdl_dev/EMGPBUSOpexOptImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GPBUS_OpexOpt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GPBUS_OpexOpt" targetNamespace="http://www.thitech.com/EM_GPBUS_OpexOpt/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GPBUS_OpexOpt/">
      <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			<xsd:element name="EMGPBUSOpexOpt" type="tns:EMGPBUSOpexOpt">

			</xsd:element>
			<xsd:element name="EMGPBUSOpexOptResponse" type="tns:EMGPBUSOpexOptResponse">

			</xsd:element>

			<xsd:complexType name="EMGPBUSOpexOpt">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:EMGPBUSOpexOptInput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EMGPBUSOpexOptResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:EMGPBUSOpexOptOutput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EMGPBUSOpexOptInput">
				<xsd:complexContent>
					<xsd:extension base="tns:AbstractType">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="opType" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										操作类型
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="perExpensesId" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										子表费用ID
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="perExpensesDat" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										日期
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="expMonth" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										费用月份
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										事由
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="usrNum" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										人数
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="expTyp" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										费用类型
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="expTypNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										费用类型名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="expGrp" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										费用组
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="expGrpNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										费用组名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="expForm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										费用组成
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="expFormNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										费用组成名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="entertainCode" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										经费对象编码
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="entertainNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										经费对象名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										填报金额
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="aproAmt" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										核准金额
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="bagrAmt" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										业务批准金额
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="fagrAmt" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										财务核准金额
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="remark" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										备注
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="usrCode" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										发起人编码
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="usrNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										发起人名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="actType" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="actTypeNm" type="xsd:string">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="EMGPBUSOpexOptOutput">
				<xsd:complexContent>
					<xsd:extension base="tns:ReturnCode">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="perExpensesId" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>子表费用ID</xsd:documentation>
                </xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMGPBUSOpexOptRequest">
    <wsdl:part element="tns:EMGPBUSOpexOpt" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMGPBUSOpexOptResponse">
    <wsdl:part element="tns:EMGPBUSOpexOptResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GPBUS_OpexOpt">
    <wsdl:operation name="EMGPBUSOpexOpt">
      <wsdl:input message="tns:EMGPBUSOpexOptRequest"/>
      <wsdl:output message="tns:EMGPBUSOpexOptResponse"/>
    </wsdl:operation>
  </wsdl:portType>
<wsdl:binding xmlns:ptns="http://www.thitech.com/EM_GPBUS_OpexOpt/" name="EM_GPBUS_OpexOpt_Binding" type="ptns:EM_GPBUS_OpexOpt">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EMGPBUSOpexOpt">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_GPBUS_OpexOpt">
<wsdl:port xmlns:bprf="http://www.thitech.com/EM_GPBUS_OpexOpt/" binding="bprf:EM_GPBUS_OpexOpt_Binding" name="EM_GPBUS_OpexOpt_Port">
<soap:address location="http://bmd.cttq.com:51200/EM_GPBUS_OpexOpt/EMGPBUSOpexOptImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>