cost/wsdl_dev/EMGRPEXPOPTTVSBLNImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GRPEXP_OPTTVSBLN/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GRPEXP_OPTTVSBLN" targetNamespace="http://www.thitech.com/EM_GRPEXP_OPTTVSBLN/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GRPEXP_OPTTVSBLN/">
     <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			<xsd:element name="EM_GRPEXP_OPTTVSBLN" type="tns:EM_GRPEXP_OPTTVSBLN">

			</xsd:element>
			<xsd:element name="EM_GRPEXP_OPTTVSBLNResponse" type="tns:EM_GRPEXP_OPTTVSBLNResponse">

			</xsd:element>

			<xsd:complexType name="EM_GRPEXP_OPTTVSBLN">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:EM_GRPEXP_OPTTVSBLNInput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EM_GRPEXP_OPTTVSBLNResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:EM_GRPEXP_OPTTVSBLNOutput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EM_GRPEXP_OPTTVSBLNInput">
				<xsd:complexContent>
					<xsd:extension base="tns:AbstractType">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="opType" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										操作类型
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="travsId" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										差旅段ID
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="travTyp" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										差旅类型
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="travTypNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										差旅类型名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="travClass" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="startDat" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										开始日期
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="endDat" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										结束日期
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="origProv" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										起始地省区
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="origProvNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										起始地省区名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="origCity" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										起始地市区
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="origCityNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										起始地市区名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="origCnty" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										起始区县
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="origCntyNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										起始区县名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="destProv" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										目的地省区
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="destProvNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										目的地省区名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="destCity" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										目的地市区
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="destCityNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										目的地市区名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="destCnty" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										目的区县
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="destCntyNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										目的区县名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="travTopic" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										事由
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="aufNr" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										研发订单号
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="usrCode" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										人员编码
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="usrNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										人员名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="deptCode" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										部门编码
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="deptNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										部门名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="usrArea" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										人事范围编码D
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="usrAreaNm" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										人事范围名称
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<xsd:element maxOccurs="1" minOccurs="0" name="catt" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										车牌（苏A）
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="cnum" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										车牌号（12345）
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="bgMileage" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										起始里程
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="edMileage" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										结束里程
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<xsd:element maxOccurs="1" minOccurs="0" name="roundFlag" type="xsd:string">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="EM_GRPEXP_OPTTVSBLNOutput">
				<xsd:complexContent>
					<xsd:extension base="tns:ReturnCode">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="travsId" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>差旅单行ID</xsd:documentation>
                </xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EM_GRPEXP_OPTTVSBLNRequest">
    <wsdl:part element="tns:EM_GRPEXP_OPTTVSBLN" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EM_GRPEXP_OPTTVSBLNResponse">
    <wsdl:part element="tns:EM_GRPEXP_OPTTVSBLNResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GRPEXP_OPTTVSBLN">
    <wsdl:operation name="EM_GRPEXP_OPTTVSBLN">
      <wsdl:input message="tns:EM_GRPEXP_OPTTVSBLNRequest"/>
      <wsdl:output message="tns:EM_GRPEXP_OPTTVSBLNResponse"/>
    </wsdl:operation>
  </wsdl:portType>
<wsdl:binding xmlns:ptns="http://www.thitech.com/EM_GRPEXP_OPTTVSBLN/" name="EM_GRPEXP_OPTTVSBLN_Binding" type="ptns:EM_GRPEXP_OPTTVSBLN">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EM_GRPEXP_OPTTVSBLN">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_GRPEXP_OPTTVSBLN">
<wsdl:port xmlns:bprf="http://www.thitech.com/EM_GRPEXP_OPTTVSBLN/" binding="bprf:EM_GRPEXP_OPTTVSBLN_Binding" name="EM_GRPEXP_OPTTVSBLN_Port">
<soap:address location="http://bmd.cttq.com:51200/EM_GRPEXP_OPTTVSBLN/EMGRPEXPOPTTVSBLNImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>