exp/wsdl_dev/EMEXPExpenseDetailQryImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_EXP_ExpenseDetailQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_EXP_ExpenseDetailQry" targetNamespace="http://www.thitech.com/EM_EXP_ExpenseDetailQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_EXP_ExpenseDetailQry/">
      
      <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
      
      
      
      <xsd:element name="EMEXP_ExpenseDetailQry" type="tns:EMEXP_ExpenseDetailQry">

      </xsd:element>
      <xsd:element name="EMEXP_ExpenseDetailQryResponse" type="tns:EMEXP_ExpenseDetailQryResponse">

      </xsd:element>
    
      <xsd:complexType name="EMEXP_ExpenseDetailQry">
      	<xsd:sequence>
      		<xsd:element name="input" type="tns:EMEXP_ExpenseDetailQryInput"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="EMEXP_ExpenseDetailQryResponse">
      	<xsd:sequence>
      		<xsd:element name="output" type="tns:EMEXP_ExpenseDetailQryOutput"/>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="EMEXP_ExpenseDetailQryInput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:AbstractType">
            			<xsd:sequence>
            				<xsd:element maxOccurs="1" minOccurs="1" name="expNo" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="1" name="docType" type="xsd:string">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="EMEXP_ExpenseDetailQryOutput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:ReturnCode">
            			<xsd:sequence>
            				<xsd:element maxOccurs="1" minOccurs="0" name="expNo" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="docType" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="docTypNm" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="expDat" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="crtAmt" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="aproAmt" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="fRemark" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="unbounded" minOccurs="0" name="payInfoList" type="tns:PayInfoList">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>
    
            <xsd:complexType name="PayInfoList">
            	<xsd:sequence>
            		<xsd:element name="supCode" type="xsd:string"/>
            		<xsd:element name="supNm" type="xsd:string"/>
            		<xsd:element name="payAmt" type="xsd:string"/>
            		<xsd:element name="payState" type="xsd:string"/>
            		<xsd:element name="payStatNm" type="xsd:string"/>
            		<xsd:element name="payDat" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMEXP_ExpenseDetailQryRequest">
    <wsdl:part element="tns:EMEXP_ExpenseDetailQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMEXP_ExpenseDetailQryResponse">
    <wsdl:part element="tns:EMEXP_ExpenseDetailQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_EXP_ExpenseDetailQry">
    <wsdl:operation name="EMEXP_ExpenseDetailQry">
      <wsdl:input message="tns:EMEXP_ExpenseDetailQryRequest"/>
      <wsdl:output message="tns:EMEXP_ExpenseDetailQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.thitech.com/EM_EXP_ExpenseDetailQry/" name="EM_EXP_ExpenseDetailQry_Binding" type="ptns:EM_EXP_ExpenseDetailQry">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EMEXP_ExpenseDetailQry">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_EXP_ExpenseDetailQry">
<wsdl:port xmlns:bprf="http://www.thitech.com/EM_EXP_ExpenseDetailQry/" binding="bprf:EM_EXP_ExpenseDetailQry_Binding" name="EM_EXP_ExpenseDetailQry_Port">
<soap:address location="http://bmd.cttq.com:51200/EM_EXP_ExpenseDetailQry/EMEXPExpenseDetailQryImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>