train/wsdl_dev900/zhrwstn41.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZHRWSTN41">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZHRWSTN41_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZHRWSTN41">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>5284160BF2AF04E0E1008000C0A80114</sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZHRWSTN41">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char12">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char46">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="46"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal7.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="7"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="ZHRS_PUBLIC_IMPORT">
                <xsd:sequence>
                    <xsd:element name="FLOWNO" type="tns:char46"/>
                    <xsd:element name="PERNR" type="tns:numeric8"/>
                    <xsd:element name="ZDOMAIN" type="tns:char3"/>
                    <xsd:element name="I_PAGENO" type="tns:numeric6"/>
                    <xsd:element name="I_PAGESIZE" type="tns:numeric3"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZHR_TS_PERNR">
                <xsd:sequence>
                    <xsd:element name="PERNR" type="tns:numeric8"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZHRS_PUBLIC_EXPORT">
                <xsd:sequence>
                    <xsd:element name="TYPE" type="xsd:int"/>
                    <xsd:element name="CODE" type="tns:char8"/>
                    <xsd:element name="MESSAGE" type="tns:string"/>
                    <xsd:element name="TOTALSIZE" type="tns:numeric6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZHR_TS_EEINFO_RFC">
                <xsd:sequence>
                    <xsd:element name="PERNR" type="tns:numeric8"/>
                    <xsd:element name="NACHN" type="tns:char40"/>
                    <xsd:element name="ZZ_XMKQSJ" type="tns:char8"/>
                    <xsd:element name="ZZ_DSBM" type="tns:numeric8"/>
                    <xsd:element name="ZZ_DSXM" type="tns:char12"/>
                    <xsd:element name="ZZ_ZBMBZT" type="tns:char1"/>
                    <xsd:element name="ZZ_ZBQRR" type="tns:numeric8"/>
                    <xsd:element name="ZZ_ZBQRRXM" type="tns:char12"/>
                    <xsd:element name="ZZ_ZBQWZT" type="tns:char1"/>
                    <xsd:element name="ZZ_MTRQ" type="tns:char8"/>
                    <xsd:element name="ZZ_MTTJRQ" type="tns:char8"/>
                    <xsd:element name="ZZ_MTQRZT" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHZT1" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHDS1" type="tns:numeric8"/>
                    <xsd:element name="ZZ_XXJHDSXM1" type="tns:char12"/>
                    <xsd:element name="ZZ_GMCS" type="tns:numeric2"/>
                    <xsd:element name="ZZ_GMRQ" type="tns:char8"/>
                    <xsd:element name="ZZ_SGCS1" type="tns:numeric2"/>
                    <xsd:element name="ZZ_SGRQ1" type="tns:char8"/>
                    <xsd:element name="ZZ_XXJHZT2" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHDS2" type="tns:numeric8"/>
                    <xsd:element name="ZZ_XXJHDSXM2" type="tns:char12"/>
                    <xsd:element name="ZZ_SGCS2" type="tns:numeric2"/>
                    <xsd:element name="ZZ_SGRQ2" type="tns:char8"/>
                    <xsd:element name="ZZ_XXJHZT3" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHDS3" type="tns:numeric8"/>
                    <xsd:element name="ZZ_XXJHDSXM3" type="tns:char12"/>
                    <xsd:element name="ZZ_SGCS3" type="tns:numeric2"/>
                    <xsd:element name="ZZ_SGRQ3" type="tns:char8"/>
                    <xsd:element name="ZZ_CZTH1" type="tns:char1"/>
                    <xsd:element name="ZZ_FTSH" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHZT4" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHDS4" type="tns:numeric8"/>
                    <xsd:element name="ZZ_XXJHDSXM4" type="tns:char12"/>
                    <xsd:element name="ZZ_SGCS4" type="tns:numeric2"/>
                    <xsd:element name="ZZ_SGRQ4" type="tns:char8"/>
                    <xsd:element name="ZZ_XXJHZT5" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHDS5" type="tns:numeric8"/>
                    <xsd:element name="ZZ_XXJHDSXM5" type="tns:char12"/>
                    <xsd:element name="ZZ_SGCS5" type="tns:numeric2"/>
                    <xsd:element name="ZZ_SGRQ5" type="tns:char8"/>
                    <xsd:element name="ZZ_XXJHZT6" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHDS6" type="tns:numeric8"/>
                    <xsd:element name="ZZ_XXJHDSXM6" type="tns:char12"/>
                    <xsd:element name="ZZ_SGCS6" type="tns:numeric2"/>
                    <xsd:element name="ZZ_SGRQ6" type="tns:char8"/>
                    <xsd:element name="ZZ_CZTH2" type="tns:char1"/>
                    <xsd:element name="ZZ_PGLD1" type="tns:numeric8"/>
                    <xsd:element name="ZZ_PGLDXM1" type="tns:char12"/>
                    <xsd:element name="ZZ_JDFS1" type="tns:decimal7.2"/>
                    <xsd:element name="ZZ_SGMBZT" type="tns:char1"/>
                    <xsd:element name="ZZ_SGQRR" type="tns:numeric8"/>
                    <xsd:element name="ZZ_SGQRRXM" type="tns:char12"/>
                    <xsd:element name="ZZ_SGQWZT" type="tns:char1"/>
                    <xsd:element name="ZZ_XDJH" type="tns:ZZHR_XDJH_T"/>
                    <xsd:element name="ZZ_XXJHZT7" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHDS7" type="tns:numeric8"/>
                    <xsd:element name="ZZ_XXJHDSXM7" type="tns:char12"/>
                    <xsd:element name="ZZ_SGCS7" type="tns:numeric2"/>
                    <xsd:element name="ZZ_SGRQ7" type="tns:char8"/>
                    <xsd:element name="ZZ_XXJHZT8" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHDS8" type="tns:numeric8"/>
                    <xsd:element name="ZZ_XXJHDSXM8" type="tns:char12"/>
                    <xsd:element name="ZZ_SGCS8" type="tns:numeric2"/>
                    <xsd:element name="ZZ_SGRQ8" type="tns:char8"/>
                    <xsd:element name="ZZ_XXJHZT9" type="tns:char1"/>
                    <xsd:element name="ZZ_XXJHDS9" type="tns:numeric8"/>
                    <xsd:element name="ZZ_XXJHDSXM9" type="tns:char12"/>
                    <xsd:element name="ZZ_SGCS9" type="tns:numeric2"/>
                    <xsd:element name="ZZ_SGRQ9" type="tns:char8"/>
                    <xsd:element name="ZZ_PGLD2" type="tns:numeric8"/>
                    <xsd:element name="ZZ_PGLDXM2" type="tns:char12"/>
                    <xsd:element name="ZZ_JDFS2" type="tns:decimal7.2"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZZHR_XDJH_S">
                <xsd:sequence>
                    <xsd:element name="ZZ_XH" type="tns:numeric2"/>
                    <xsd:element name="ZZ_DTGXMMS" type="tns:char25"/>
                    <xsd:element name="ZZ_XDJHZT" type="tns:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZHR_TS_PERNR_T">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZHR_TS_PERNR" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZHR_TS_EEINFO_T">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZHR_TS_EEINFO_RFC" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZZHR_XDJH_T">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZZHR_XDJH_S" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZHRWSTN41">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IS_PUBLIC" type="tns:ZHRS_PUBLIC_IMPORT" minOccurs="0"/>
                        <xsd:element name="T_PERNR" type="tns:ZHR_TS_PERNR_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZHRWSTN41Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ES_PUBLIC" type="tns:ZHRS_PUBLIC_EXPORT"/>
                        <xsd:element name="ZHR_TS_EEINFO" type="tns:ZHR_TS_EEINFO_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZHRWSTN41">
        <wsdl:part name="parameters" element="tns:ZHRWSTN41"/>
    </wsdl:message>
    <wsdl:message name="ZHRWSTN41Response">
        <wsdl:part name="parameter" element="tns:ZHRWSTN41Response"/>
    </wsdl:message>
    <wsdl:portType name="ZHRWSTN41">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem docURL="http://cttqdev.cttq.com:8000/sap/bc/esdt/docu/sd_text?sap-client=900&amp;sd_name=ZHRWSTN41"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZHRWSTN41"/>
        </wsp:Policy>
        <wsdl:operation name="ZHRWSTN41">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZHRWSTN41"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZHRWSTN41"/>
            <wsdl:output message="tns:ZHRWSTN41Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZHRWSTN41" type="tns:ZHRWSTN41">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZHRWSTN41"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZHRWSTN41">
            <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZHRWSTN41:ZHRWSTN41Request" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZHRWSTN41_soap12" type="tns:ZHRWSTN41">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZHRWSTN41_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZHRWSTN41">
            <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZHRWSTN41:ZHRWSTN41Request" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZHRWSTN41">
        <wsdl:port name="ZHRWSTN41" binding="tns:ZHRWSTN41">
            <soap:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zhrwstn41/900/zhrwstn41/zhrwstn41"/>
        </wsdl:port>
        <wsdl:port name="ZHRWSTN41_soap12" binding="tns:ZHRWSTN41_soap12">
            <wsoap12:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zhrwstn41/900/zhrwstn41/zhrwstn41"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>