newcost/wsdl_pro/BCMCMFBCMCMFAnnexQueryServiceImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://thitech.com/BCM_CMF_AnnexQuery_Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BCM_CMF_AnnexQuery_Service" targetNamespace="http://thitech.com/BCM_CMF_AnnexQuery_Service/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://thitech.com/BCM_CMF_AnnexQuery_Service/">
      <!-- 增加部分1 开始 -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="originateTellerId">
            <xsd:annotation>
              <xsd:documentation>员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="BCMCMFAnnexQuery" type="tns:BCMCMFAnnexQuery">
      </xsd:element>
      <xsd:element name="BCMCMFAnnexQueryResponse" type="tns:BCMCMFAnnexQueryResponse">
      </xsd:element>
      <xsd:complexType name="BCMCMFAnnexQuery">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Input" type="tns:BCMCMFAnnexQueryInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexQueryResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Return" type="tns:BCMCMFAnnexQueryOutput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexQueryInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element name="DOCID" type="xsd:string">
              </xsd:element>
              <xsd:element name="USRID" type="xsd:string">
              </xsd:element>
              <xsd:element name="ATCHTYP" type="xsd:string">
              </xsd:element>
              <xsd:element name="DOCRELID" type="xsd:string">
              </xsd:element>
              <xsd:element name="DOCTYP" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexQueryOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="BCMCMFAnnexQueryOutList" type="tns:BCMCMFAnnexQueryOutputList">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexQueryOutputList">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHID" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="DOCTYP" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="DOCTYPNM" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="DOCID" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="DOCRELID" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="LINENO" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHTYP" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHTYPNM" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHNM" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHSUF" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHSIZE" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHUNIT" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHDECL" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHROUT" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="CRTDAT" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="PRVMD5" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PRVURL" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BCMCMFAnnexQueryRequest">
    <wsdl:part element="tns:BCMCMFAnnexQuery" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BCMCMFAnnexQueryResponse">
    <wsdl:part element="tns:BCMCMFAnnexQueryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BCM_CMF_BCMCMFAnnexQuery_Service">
    <wsdl:operation name="BCMCMFAnnexQuery">
      <wsdl:input message="tns:BCMCMFAnnexQueryRequest"/>
      <wsdl:output message="tns:BCMCMFAnnexQueryResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://thitech.com/BCM_CMF_AnnexQuery_Service/" name="BCM_CMF_BCMCMFAnnexQuery_Service_Binding" type="ptns:BCM_CMF_BCMCMFAnnexQuery_Service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BCMCMFAnnexQuery">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BCM_CMF_BCMCMFAnnexQuery_Service_Service">
    <wsdl:port xmlns:bprf="http://thitech.com/BCM_CMF_AnnexQuery_Service/" binding="bprf:BCM_CMF_BCMCMFAnnexQuery_Service_Binding" name="BCM_CMF_BCMCMFAnnexQuery_Service_Port">
      <soap:address location="http://bcm.cttq.com:8085/BCM_CMF_BCMCMFAnnexQuery_Service_Service/BCMCMFBCMCMFAnnexQueryServiceImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>