b2b/wsdl_dev900/zlygerpws101.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZLYGERPWS101">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZLYGERPWS101_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZLYGERPWS101">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>5284160BF2AF04E0E1008000C0A80114</sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZLYGERPWS101">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char16">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char18">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char255">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char35">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char46">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="46"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char80">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr11.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="11"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr13.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="13"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="quantum13.3">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="13"/>
                    <xsd:fractionDigits value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="unit3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ZGSP_PUBLIC_IMPORT">
                <xsd:sequence>
                    <xsd:element name="FLOWNO" type="tns:char46"/>
                    <xsd:element name="PERNR" type="tns:numeric10"/>
                    <xsd:element name="ZDOMAIN" type="tns:char3"/>
                    <xsd:element name="I_PAGENO" type="tns:numeric6"/>
                    <xsd:element name="I_PAGESIZE" type="tns:numeric3"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSD_B2B_VBELN_S">
                <xsd:sequence>
                    <xsd:element name="VBELN" type="tns:char10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZGSP_PUBLIC_EXPORT">
                <xsd:sequence>
                    <xsd:element name="TYPE" type="tns:char4"/>
                    <xsd:element name="CODE" type="tns:char8"/>
                    <xsd:element name="MESSAGE" type="tns:string"/>
                    <xsd:element name="TOTALSIZE" type="tns:numeric6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSD_B2B_074_S">
                <xsd:sequence>
                    <xsd:element name="VBELN" type="tns:char10"/>
                    <xsd:element name="EXPRESSID" type="tns:char30"/>
                    <xsd:element name="EXPRESSNM" type="tns:char50"/>
                    <xsd:element name="TEL_NUMBR" type="tns:char20"/>
                    <xsd:element name="EXPRESSNO" type="tns:char20"/>
                    <xsd:element name="NAME1" type="tns:char35"/>
                    <xsd:element name="ZADRC" type="tns:char80"/>
                    <xsd:element name="NAM1_XH" type="tns:char35"/>
                    <xsd:element name="LGOBE" type="tns:char16"/>
                    <xsd:element name="ENAME" type="tns:char40"/>
                    <xsd:element name="TEL_NUMBR_SH" type="tns:char20"/>
                    <xsd:element name="ENAME_FH" type="tns:char40"/>
                    <xsd:element name="TEL_NUMBR_FH" type="tns:char20"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSD_B2B_LIKP_S">
                <xsd:sequence>
                    <xsd:element name="VBELN" type="tns:char10"/>
                    <xsd:element name="WADAT_IST" type="tns:date10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSD_B2B_LIPS_S">
                <xsd:sequence>
                    <xsd:element name="VBELN" type="tns:char10"/>
                    <xsd:element name="POSNR" type="tns:numeric6"/>
                    <xsd:element name="MATNR" type="tns:char18"/>
                    <xsd:element name="ARKTX" type="tns:char40"/>
                    <xsd:element name="GGXH" type="tns:char40"/>
                    <xsd:element name="WGBEZ" type="tns:char20"/>
                    <xsd:element name="ZSCQY" type="tns:char255"/>
                    <xsd:element name="LGMNG" type="tns:quantum13.3"/>
                    <xsd:element name="VRKME" type="tns:unit3"/>
                    <xsd:element name="KBETR" type="tns:curr11.2"/>
                    <xsd:element name="KZWI5" type="tns:curr13.2"/>
                    <xsd:element name="CHARG30" type="tns:char30"/>
                    <xsd:element name="HSDAT" type="tns:date10"/>
                    <xsd:element name="VFDAT" type="tns:date10"/>
                    <xsd:element name="ZLICENSENO" type="tns:char255"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSD_B2B_VBELN_T">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZSD_B2B_VBELN_S" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSD_B2B_074_T">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZSD_B2B_074_S" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSD_B2B_LIKP_T">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZSD_B2B_LIKP_S" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSD_B2B_LIPS_T">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZSD_B2B_LIPS_S" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZLYGERPWS101">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IS_PUBLIC" type="tns:ZGSP_PUBLIC_IMPORT"/>
                        <xsd:element name="IT_VBELN" type="tns:ZSD_B2B_VBELN_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZLYGERPWS101Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ES_PUBLIC" type="tns:ZGSP_PUBLIC_EXPORT"/>
                        <xsd:element name="ET_EXPS" type="tns:ZSD_B2B_074_T"/>
                        <xsd:element name="ET_LIKP" type="tns:ZSD_B2B_LIKP_T"/>
                        <xsd:element name="ET_LIPS" type="tns:ZSD_B2B_LIPS_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZLYGERPWS101">
        <wsdl:part name="parameters" element="tns:ZLYGERPWS101"/>
    </wsdl:message>
    <wsdl:message name="ZLYGERPWS101Response">
        <wsdl:part name="parameter" element="tns:ZLYGERPWS101Response"/>
    </wsdl:message>
    <wsdl:portType name="ZLYGERPWS101">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem docURL="http://cttqdev.cttq.com:8000/sap/bc/esdt/docu/sd_text?sap-client=900&amp;sd_name=ZLYGERPWS101"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZLYGERPWS101"/>
        </wsp:Policy>
        <wsdl:operation name="ZLYGERPWS101">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZLYGERPWS101"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZLYGERPWS101"/>
            <wsdl:output message="tns:ZLYGERPWS101Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZLYGERPWS101" type="tns:ZLYGERPWS101">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZLYGERPWS101"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZLYGERPWS101">
            <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZLYGERPWS101:ZLYGERPWS101Request" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZLYGERPWS101_soap12" type="tns:ZLYGERPWS101">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZLYGERPWS101_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZLYGERPWS101">
            <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZLYGERPWS101:ZLYGERPWS101Request" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZLYGERPWS101">
        <wsdl:port name="ZLYGERPWS101" binding="tns:ZLYGERPWS101">
            <soap:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zlygerpws101/900/zlygerpws101/zlygerpws101"/>
        </wsdl:port>
        <wsdl:port name="ZLYGERPWS101_soap12" binding="tns:ZLYGERPWS101_soap12">
            <wsoap12:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zlygerpws101/900/zlygerpws101/zlygerpws101"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>