b2b/wsdl_qas900/B2BBPMIAITranTaskListQryImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cttq.com/B2B_BPMI_AITranTaskListQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="B2B_BPMI_AITranTaskListQry" targetNamespace="http://www.cttq.com/B2B_BPMI_AITranTaskListQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cttq.com/B2B_BPMI_AITranTaskListQry/">
    
    <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			
      <xsd:element name="B2BBPMIAITranTaskListQry" type="tns:B2BBPMIAITranTaskListQry">

      </xsd:element>
      <xsd:element name="B2BBPMIAITranTaskListQryResponse" type="tns:B2BBPMIAITranTaskListQryResponse">

      </xsd:element>
    
      <xsd:complexType name="B2BBPMIAITranTaskListQryInput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:AbstractType">
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="startPage" type="xsd:int">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="pageSize" type="xsd:int">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="B2BBPMIAITranTaskListQryOutput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:ReturnCode">
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="0" name="totalCount" type="xsd:int">
      				</xsd:element>
      				<xsd:element maxOccurs="unbounded" minOccurs="0" name="taskInfoList" type="tns:TaskInfoList">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="B2BBPMIAITranTaskListQry">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:B2BBPMIAITranTaskListQryInput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="B2BBPMIAITranTaskListQryResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:B2BBPMIAITranTaskListQryOutput"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="TaskInfoList">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="STPROFL" type="xsd:string">
      		</xsd:element>


      		<xsd:element maxOccurs="1" minOccurs="0" name="applyUsrId" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="applyUsrNM" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="subDate" type="xsd:string">
      		</xsd:element>














      		<xsd:element maxOccurs="1" minOccurs="0" name="ordType" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="bussType" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="bussTypeName" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="procStatus" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="procStatusName" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="taskId" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="currStep" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="custNo" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="B2BBPMIAITranTaskListQryRequest">
    <wsdl:part element="tns:B2BBPMIAITranTaskListQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="B2BBPMIAITranTaskListQryResponse">
    <wsdl:part element="tns:B2BBPMIAITranTaskListQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="B2B_BPMI_AITranTaskListQry">
    <wsdl:operation name="B2BBPMIAITranTaskListQry">
      <wsdl:input message="tns:B2BBPMIAITranTaskListQryRequest"/>
      <wsdl:output message="tns:B2BBPMIAITranTaskListQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="B2B_BPMI_AITranTaskListQrySOAP" type="tns:B2B_BPMI_AITranTaskListQry">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="B2BBPMIAITranTaskListQry">
      <soap:operation soapAction="http://www.cttq.com/B2B_BPMI_AITranTaskListQry/B2BBPMIAITranTaskListQry"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="B2B_BPMI_AITranTaskListQry">
    <wsdl:port binding="tns:B2B_BPMI_AITranTaskListQrySOAP" name="B2B_BPMI_AITranTaskListQrySOAP">
      <soap:address location="http://b2q.cttq.com:52200/B2B_BPMI_AITranTaskListQry/B2BBPMIAITranTaskListQryImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>