b2b/wsdl_qas900/B2BBPMIAITranTaskSumImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cttq.com/B2B_BPMI_AITranTaskSum/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="B2B_BPMI_AITranTaskSum" targetNamespace="http://www.cttq.com/B2B_BPMI_AITranTaskSum/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cttq.com/B2B_BPMI_AITranTaskSum/">
    <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			
      <xsd:element name="B2BBPMIAITranTaskSum" type="tns:B2BBPMIAITranTaskSum">

      </xsd:element>
      <xsd:element name="B2BBPMIAITranTaskSumResponse" type="tns:B2BBPMIAITranTaskSumResponse">

      </xsd:element>
    
      <xsd:complexType name="B2BBPMIAITranTaskSum">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:B2BBPMIAITranTaskSumInput"/>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="B2BBPMIAITranTaskSumResponse">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="out" type="tns:B2BBPMIAITranTaskSumOutput"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="B2BBPMIAITranTaskSumInput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:AbstractType">
            			<xsd:sequence>
            				<xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="B2BBPMIAITranTaskSumOutput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:ReturnCode">
            			<xsd:sequence>
            				<xsd:element maxOccurs="unbounded" minOccurs="0" name="tranTaskSumList" type="tns:TranTaskSumList">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>
            
            <xsd:complexType name="TranTaskSumList">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="taskNum" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="B2BBPMIAITranTaskSumRequest">
    <wsdl:part element="tns:B2BBPMIAITranTaskSum" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="B2BBPMIAITranTaskSumResponse">
    <wsdl:part element="tns:B2BBPMIAITranTaskSumResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="B2B_BPMI_AITranTaskSum">
    <wsdl:operation name="B2BBPMIAITranTaskSum">
      <wsdl:input message="tns:B2BBPMIAITranTaskSumRequest"/>
      <wsdl:output message="tns:B2BBPMIAITranTaskSumResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="B2B_BPMI_AITranTaskSumSOAP" type="tns:B2B_BPMI_AITranTaskSum">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="B2BBPMIAITranTaskSum">
      <soap:operation soapAction="http://www.cttq.com/B2B_BPMI_AITranTaskSum/B2BBPMIAITranTaskSum"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="B2B_BPMI_AITranTaskSum">
    <wsdl:port binding="tns:B2B_BPMI_AITranTaskSumSOAP" name="B2B_BPMI_AITranTaskSumSOAP">
      <soap:address location="http://b2q.cttq.com:52200/B2B_BPMI_AITranTaskSum/B2BBPMIAITranTaskSumImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>