cost/wsdl_qas900/BCMCMFGetAdUsrForIOSServiceImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/BCM_CMF_GetAdUsrForIOS_Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BCM_CMF_GetAdUsrForIOS_Service" targetNamespace="http://www.thitech.com/BCM_CMF_GetAdUsrForIOS_Service/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.thitech.com/BCM_CMF_GetAdUsrForIOS_Service/">
			<!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="originateTellerId">
						<xsd:annotation>
							<xsd:documentation>员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->

			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			<xsd:element name="BCMCMFGetAdUsrForIOS" type="tns:BCMCMFGetAdUsrForIOSRequest">

			</xsd:element>
			<xsd:element name="BCMCMFGetAdUsrForIOSResponse" type="tns:BCMCMFGetAdUsrForIOSResponse">

			</xsd:element>

			<xsd:complexType name="BCMCMFGetAdUsrForIOSRequest">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="input" type="tns:BCMCMFGetAdUsrForIOSInput"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="BCMCMFGetAdUsrForIOSResponse">
				<xsd:sequence>
					<xsd:element name="return" type="tns:BCMCMFGetAdUsrForIOSOutput"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="BCMCMFGetAdUsrForIOSInput">
				<xsd:complexContent>
					<xsd:extension base="tns:AbstractType">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="taskId" type="xsd:string">
							</xsd:element>

							<xsd:element maxOccurs="1" minOccurs="0" name="qryUsrId" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="qryUsrName" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="compCode" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="procId" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="bussType" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="currStep" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="currDept" type="xsd:string">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="BCMCMFGetAdUsrForIOSOutput">
				<xsd:complexContent>
					<xsd:extension base="tns:ReturnCode">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="nextStep" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="approvalType" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="100" minOccurs="0" name="usrList" type="tns:usrListType">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="usrListType">
				<xsd:sequence>
					<xsd:element name="usrId" type="xsd:string"/>
					<xsd:element name="usrName" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="BCMCMFGetAdUsrForIOSRequest">
		<wsdl:part element="tns:BCMCMFGetAdUsrForIOS" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="BCMCMFGetAdUsrForIOSResponse">
		<wsdl:part element="tns:BCMCMFGetAdUsrForIOSResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="BCM_CMF_GetAdUsrForIOS_Service">
		<wsdl:operation name="BCMCMFGetAdUsrForIOS">
			<wsdl:input message="tns:BCMCMFGetAdUsrForIOSRequest"/>
			<wsdl:output message="tns:BCMCMFGetAdUsrForIOSResponse"/>
		</wsdl:operation>
	</wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.thitech.com/BCM_CMF_GetAdUsrForIOS_Service/" name="BCM_CMF_GetAdUsrForIOS_Service_Binding" type="ptns:BCM_CMF_GetAdUsrForIOS_Service">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="BCMCMFGetAdUsrForIOS">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="BCM_CMF_GetAdUsrForIOS_Service">
<wsdl:port xmlns:bprf="http://www.thitech.com/BCM_CMF_GetAdUsrForIOS_Service/" binding="bprf:BCM_CMF_GetAdUsrForIOS_Service_Binding" name="BCM_CMF_GetAdUsrForIOS_Service_Port">
<soap:address location="http://bmu.cttq.com:51800/BCM_CMF_GetAdUsrForIOS_Service/BCMCMFGetAdUsrForIOSServiceImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>