cost/wsdl_qas900/EMGRPEXPQRYTVALTBDTImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GRPEXP_QRYTVALTBDT/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GRPEXP_QRYTVALTBDT" targetNamespace="http://www.thitech.com/EM_GRPEXP_QRYTVALTBDT/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GRPEXP_QRYTVALTBDT/">
    <!-- 增加部分1 开始  -->
            <xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->

			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			<xsd:element name="EM_GRPEXP_QRYTVALTBDT" type="tns:EM_GRPEXP_QRYTVALTBDT">

			</xsd:element>
			<xsd:element name="EM_GRPEXP_QRYTVALTBDTResponse" type="tns:EM_GRPEXP_QRYTVALTBDTResponse">

      </xsd:element>


      <xsd:complexType name="EM_GRPEXP_QRYTVALTBDTInput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:AbstractType">
            			<xsd:sequence>
            				<xsd:element maxOccurs="1" minOccurs="0" name="travNo" type="xsd:string">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="EM_GRPEXP_QRYTVALTBDTOutput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:ReturnCode">
            			<xsd:sequence>
            				<xsd:element maxOccurs="unbounded" minOccurs="0" name="trObject" type="tns:TrObject">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="EM_GRPEXP_QRYTVALTBDTResponse">
            	<xsd:sequence>
            		<xsd:element name="output" type="tns:EM_GRPEXP_QRYTVALTBDTOutput">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TrObject">
       			<xsd:sequence>
       				<xsd:element maxOccurs="1" minOccurs="0" name="travNo" type="xsd:string">
       				</xsd:element>
       				<xsd:element maxOccurs="1" minOccurs="0" name="travId" type="xsd:string">
       				</xsd:element>
       				<xsd:element maxOccurs="1" minOccurs="0" name="travClass" type="xsd:string">
       				</xsd:element>
       				<xsd:element maxOccurs="1" minOccurs="0" name="crtDat" type="xsd:string">
       				</xsd:element>
       				<xsd:element maxOccurs="1" minOccurs="0" name="docStat" type="xsd:string">
       				</xsd:element>
       				<xsd:element maxOccurs="1" minOccurs="0" name="docStatNm" type="xsd:string">
       				</xsd:element>
       				<xsd:element maxOccurs="1" minOccurs="0" name="docTyp" type="xsd:string">
       				</xsd:element>
       				<xsd:element maxOccurs="1" minOccurs="0" name="docTypNm" type="xsd:string">
       				</xsd:element>
       				<xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
       				</xsd:element>
       				<xsd:element maxOccurs="1" minOccurs="0" name="aproAmt" type="xsd:string">
       				</xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="usrCode" type="xsd:string">
       				</xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="usrNm" type="xsd:string">
       				</xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="trItems" type="tns:TrItems">
       				</xsd:element>


       			</xsd:sequence>
            </xsd:complexType>
            
             <xsd:complexType name="TrItems">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="travsId" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="travType" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="travClass" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="transitFlag" type="xsd:string">
            		</xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
            		</xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="aproAmt" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="origProv" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origProvNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origCity" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origCityNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origCounty" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origCountyNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destProv" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destProvNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destCity" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destCityNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="travTopic" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="aufnr" type="xsd:string">
            		</xsd:element>

            		<xsd:element maxOccurs="1" minOccurs="0" name="destCounty" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destCountyNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="trDetailItems" type="tns:TrDetailItems">
            		</xsd:element>


            	</xsd:sequence>
             </xsd:complexType>
    
            <xsd:complexType name="TrDetailItems">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="travSubId" type="xsd:string">
            		</xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="lineNo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="expGrp" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="expGrpNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="expForm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="expFormNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="invDat" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origAddr" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destAddr" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origProv" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origProvNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origCity" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origCityNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origCounty" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="origCountyNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destProv" type="xsd:string">
            		</xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="destProvNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destCity" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destCityNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destCounty" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="destCountyNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="classTyp" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="classTypNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bgMileage" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="edMileage" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="remark" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="aproAmt" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="oilPrice" type="xsd:string">
            		</xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="busPrice" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="tcUsers" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="tcNum" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="days" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="nat" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="natNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="prov" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="provNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="NewElement" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="city" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="cityNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="county" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="countyNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="carNum" type="xsd:string">
            		</xsd:element>

                </xsd:sequence>
            </xsd:complexType>
    
        
    
            <xsd:complexType name="EM_GRPEXP_QRYTVALTBDT">
            	<xsd:sequence>
            		<xsd:element name="input" type="tns:EM_GRPEXP_QRYTVALTBDTInput">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EM_GRPEXP_QRYTVALTBDTRequest">
    <wsdl:part element="tns:EM_GRPEXP_QRYTVALTBDT" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EM_GRPEXP_QRYTVALTBDTResponse">
    <wsdl:part element="tns:EM_GRPEXP_QRYTVALTBDTResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GRPEXP_QRYTVALTBDT">
    <wsdl:operation name="EM_GRPEXP_QRYTVALTBDT">
      <wsdl:input message="tns:EM_GRPEXP_QRYTVALTBDTRequest"/>
      <wsdl:output message="tns:EM_GRPEXP_QRYTVALTBDTResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.thitech.com/EM_GRPEXP_QRYTVALTBDT/" name="EM_GRPEXP_QRYTVALTBDT_Binding" type="ptns:EM_GRPEXP_QRYTVALTBDT">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EM_GRPEXP_QRYTVALTBDT">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_GRPEXP_QRYTVALTBDT">
<wsdl:port xmlns:bprf="http://www.thitech.com/EM_GRPEXP_QRYTVALTBDT/" binding="bprf:EM_GRPEXP_QRYTVALTBDT_Binding" name="EM_GRPEXP_QRYTVALTBDT_Port">
<soap:address location="http://bmu.cttq.com:51800/EM_GRPEXP_QRYTVALTBDT/EMGRPEXPQRYTVALTBDTImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>