cost/wsdl_dev900/EMGPBUSOpexDetailQryImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GPBUS_OpexDetailQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GPBUS_OpexDetailQry" targetNamespace="http://www.thitech.com/EM_GPBUS_OpexDetailQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GPBUS_OpexDetailQry/">
      <!-- 增加部分1 开始  -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
            <xsd:annotation>
              <xsd:documentation>当前员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="EMGPBUS_OpexDetailQry" type="tns:EMGPBUSOpexDetailQry">
      </xsd:element>
      <xsd:element name="EMGPBUS_OpexDetailQryResponse" type="tns:EMGPBUSOpexDetailQryResponse">
      </xsd:element>
      <xsd:complexType name="EMGPBUSOpexDetailQry">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:EMGPBUSOpexDetailQryInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EMGPBUSOpexDetailQryResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:EMGPBUSOpexDetailQryOutput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EMGPBUSOpexDetailQryInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="perExpensesId" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EMGPBUSOpexDetailQryOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="perExpensesId" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="perExpensesDat" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="usrNum" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="expGrp" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="expGrpNm" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="expForm" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="expFormNm" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="entertainCode" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="entertainNm" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="sEntertainCode" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="sEntertainNm" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="aproAmt" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="remark" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="aufnr" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMGPBUS_OpexDetailQryRequest">
    <wsdl:part element="tns:EMGPBUS_OpexDetailQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMGPBUS_OpexDetailQryResponse">
    <wsdl:part element="tns:EMGPBUS_OpexDetailQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GPBUS_OpexDetailQry">
    <wsdl:operation name="EMGPBUS_OpexDetailQry">
      <wsdl:input message="tns:EMGPBUS_OpexDetailQryRequest"/>
      <wsdl:output message="tns:EMGPBUS_OpexDetailQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://www.thitech.com/EM_GPBUS_OpexDetailQry/" name="EM_GPBUS_OpexDetailQry_Binding" type="ptns:EM_GPBUS_OpexDetailQry">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EMGPBUS_OpexDetailQry">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EM_GPBUS_OpexDetailQry"> 
    <wsdl:port xmlns:bprf="http://www.thitech.com/EM_GPBUS_OpexDetailQry/" binding="bprf:EM_GPBUS_OpexDetailQry_Binding" name="EM_GPBUS_OpexDetailQry_Port">
      <soap:address location="http://bmq.cttq.com:51600/EM_GPBUS_OpexDetailQry/EMGPBUSOpexDetailQryImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>