cost/wsdl_dev900/EMGRPEXPOPTTVLISTImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GRPEXP_OPTTVLIST/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GRPEXP_OPTTVLIST" targetNamespace="http://www.thitech.com/EM_GRPEXP_OPTTVLIST/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GRPEXP_OPTTVLIST/">
      <!-- 增加部分1 开始 -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
            <xsd:annotation>
              <xsd:documentation>当前员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="EMGRPEXPOPTTVLIST" type="tns:EMGRPEXPOPTTVLIST">
      </xsd:element>
      <xsd:element name="EMGRPEXPOPTTVLISTResponse" type="tns:EMGRPEXPOPTTVLISTResponse">
      </xsd:element>
      <xsd:complexType name="EMGRPEXPOPTTVLIST">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:EMGRPEXPOPTTVLISTInput">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EMGRPEXPOPTTVLISTResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:EMGRPEXPOPTTVLISTOutput">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EMGRPEXPOPTTVLISTInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="opType" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>操作类型</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="travsId" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>出差行ID</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="isDelRel" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="tvlts" type="tns:TvLt">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EMGRPEXPOPTTVLISTOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="travSubIds" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TvLt">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="travSubId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>票据ID</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expGrp" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>费用组编码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expGrpNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>费用组名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expForm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>费用组成编码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expFormNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>费用组成名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invTyp" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>发票类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invTypNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>发票类型名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invNum" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>发票张数</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invDat" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>日期</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origAddr" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>起点</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destAddr" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>操作类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origProv" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>起始地省区</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origProvNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>起始地省区名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCity" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>起始地市区</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCityNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>起始地市区名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCnty" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>起始区县</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCntyNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>起始区县名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destProv" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>目的地省区</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destProvNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>目的地省区名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCity" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>目的地市区</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCityNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>目的地市区名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCnty" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>目的区县</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCntyNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>目的区县名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="classTyp" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>席别</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="classTypNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>席别名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="bgMileage" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>起始里程</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="edMileage" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>结束里程</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="reMark" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>备注</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>填报金额</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="oilPrice" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>油价</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="busPrice" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>长途汽车票价</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tcUsers" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>同乘人</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tcNum" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>同乘人数</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="days" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>天数</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="nat" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>住宿的国家</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="natNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>住宿的国家名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="prov" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>住宿地省编码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="provNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>住宿地省名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="city" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>住宿地市编码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cityNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>住宿地市名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cnty" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>住宿地区县编码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cntyNm" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>住宿地区县名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expMonth" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>费用月份</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMGRPEXPOPTTVLISTRequest">
    <wsdl:part element="tns:EMGRPEXPOPTTVLIST" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMGRPEXPOPTTVLISTResponse">
    <wsdl:part element="tns:EMGRPEXPOPTTVLISTResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GRPEXP_OPTTVLIST">
    <wsdl:operation name="EMGRPEXPOPTTVLIST">
      <wsdl:input message="tns:EMGRPEXPOPTTVLISTRequest"/>
      <wsdl:output message="tns:EMGRPEXPOPTTVLISTResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://www.thitech.com/EM_GRPEXP_OPTTVLIST/" name="EM_GRPEXP_OPTTVLIST_Binding" type="ptns:EM_GRPEXP_OPTTVLIST">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EMGRPEXPOPTTVLIST">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EM_GRPEXP_OPTTVLIST"> 
    <wsdl:port xmlns:bprf="http://www.thitech.com/EM_GRPEXP_OPTTVLIST/" binding="bprf:EM_GRPEXP_OPTTVLIST_Binding" name="EM_GRPEXP_OPTTVLIST_Port">
      <soap:address location="http://bmq.cttq.com:51600/EM_GRPEXP_OPTTVLIST/EMGRPEXPOPTTVLISTImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>