empro/wsdl_dev/EMPROJProjApplFlagUpt.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_PROJ_ProjApplFlagUpt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_PROJ_ProjApplFlagUpt" targetNamespace="http://www.thitech.com/EM_PROJ_ProjApplFlagUpt/">
<wsdl:types>
<xsd:schema targetNamespace="http://www.thitech.com/EM_PROJ_ProjApplFlagUpt/">
<!--  增加部分1 开始  -->
<xsd:complexType name="AbstractType">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType"></xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
<xsd:annotation>
<xsd:documentation>当前员工号</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string"></xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="domain">
<xsd:annotation>
<xsd:documentation>域</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
<xsd:annotation>
<xsd:documentation>扩展数据</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!--  增加部分1 结束  -->
<!--  增加部分2 开始  -->
<xsd:complexType name="ExtendMapType">
<xsd:sequence>
<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry"></xsd:element>
</xsd:sequence>
</xsd:complexType>
<!--  增加部分2 结束  -->
<!--  增加部分3 开始  -->
<xsd:complexType name="Entry">
<xsd:sequence>
<xsd:element name="Key" type="xsd:anyType"/>
<xsd:element name="Value" type="xsd:anyType"/>
</xsd:sequence>
</xsd:complexType>
<!--  增加部分3 结束  -->
<!--  增加部分4 开始  -->
<xsd:complexType name="ReturnCode">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
<xsd:annotation>
<xsd:documentation>返回类型</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
<xsd:annotation>
<xsd:documentation>返回码</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
<xsd:annotation>
<xsd:documentation>返回信息</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
<xsd:annotation>
<xsd:documentation>扩展数据</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!--  增加部分4 结束  -->
<!--  增加部分5 开始  -->
<xsd:simpleType name="ChannelSerialNoType">
<xsd:annotation>
<xsd:documentation>渠道流水号</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="64"/>
<xsd:minLength value="23"/>
</xsd:restriction>
</xsd:simpleType>
<!--  增加部分5 结束  -->
<xsd:element name="EMPROJProjApplFlagUpt" type="tns:EMPROJProjApplFlagUpt"></xsd:element>
<xsd:element name="EMPROJProjApplFlagUptResponse" type="tns:EMPROJProjApplFlagUptResponse"></xsd:element>
<xsd:complexType name="EMPROJProjApplFlagUpt">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="Input" type="tns:EMPROJProjApplFlagUptInput"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EMPROJProjApplFlagUptInput">
<xsd:complexContent>
<xsd:extension base="tns:AbstractType">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="projDocId" type="xsd:string"></xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="approvalType" type="xsd:string"></xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="EMPROJProjApplFlagUptOutput">
<xsd:complexContent>
<xsd:extension base="tns:ReturnCode"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="EMPROJProjApplFlagUptResponse">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="Output" type="tns:EMPROJProjApplFlagUptOutput"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="EMPROJProjApplFlagUptRequest">
<wsdl:part element="tns:EMPROJProjApplFlagUpt" name="parameters"/>
</wsdl:message>
<wsdl:message name="EMPROJProjApplFlagUptResponse">
<wsdl:part element="tns:EMPROJProjApplFlagUptResponse" name="parameters"/>
</wsdl:message>
<wsdl:portType name="EM_PROJ_ProjApplFlagUpt">
<wsdl:operation name="EMPROJProjApplFlagUpt">
<wsdl:input message="tns:EMPROJProjApplFlagUptRequest"/>
<wsdl:output message="tns:EMPROJProjApplFlagUptResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding xmlns:ptns="http://www.thitech.com/EM_PROJ_ProjApplFlagUpt/" name="EM_PROJ_ProjApplFlagUpt_Binding" type="ptns:EM_PROJ_ProjApplFlagUpt">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EMPROJProjApplFlagUpt">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_PROJ_ProjApplFlagUpt_Service">
<wsdl:port xmlns:bprf="http://www.thitech.com/EM_PROJ_ProjApplFlagUpt/" binding="bprf:EM_PROJ_ProjApplFlagUpt_Binding" name="EM_PROJ_ProjApplFlagUpt_Port">
<soap:address location="http://bmd.cttq.com:51200/EM_PROJ_ProjApplFlagUpt_Service/EMPROJProjApplFlagUptImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>