b2b/wsdl_dev/B2BBPMIAIWaitTaskListQryImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cttq.com/B2B_BPMI_AIWaitTaskListQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="B2B_BPMI_AIWaitTaskListQry" targetNamespace="http://www.cttq.com/B2B_BPMI_AIWaitTaskListQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cttq.com/B2B_BPMI_AIWaitTaskListQry/">
   <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
      <xsd:element name="B2BBPMIAIWaitTaskListQry" type="tns:B2BBPMIAIWaitTaskListQry">

      </xsd:element>
      <xsd:element name="B2BBPMIAIWaitTaskListQryResponse" type="tns:B2BBPMIAIWaitTaskListQryResponse">

      </xsd:element>
    
      <xsd:complexType name="B2BBPMIAIWaitTaskListQryInput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:AbstractType">
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="0" name="startPage" type="xsd:int">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="pageSize" type="xsd:int">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="B2BBPMIAIWaitTaskListQryOutput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:ReturnCode">
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="0" name="totalCount" type="xsd:int">
      				</xsd:element>
      				<xsd:element maxOccurs="unbounded" minOccurs="0" name="taskInfoList" type="tns:TaskInfoList">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="B2BBPMIAIWaitTaskListQry">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:B2BBPMIAIWaitTaskListQryInput"/>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="B2BBPMIAIWaitTaskListQryResponse">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:B2BBPMIAIWaitTaskListQryOutput"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="TaskInfoList">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="STPROFL" type="xsd:string">
            		</xsd:element>


            		<xsd:element maxOccurs="1" minOccurs="0" name="applyUsrId" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="applyUsrNM" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="subDate" type="xsd:string">
            		</xsd:element>














            		<xsd:element maxOccurs="1" minOccurs="0" name="ordType" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bussType" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bussTypeName" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="taskId" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="procStatus" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="procStatusName" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="currStep" type="xsd:string">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="B2BBPMIAIWaitTaskListQryRequest">
    <wsdl:part element="tns:B2BBPMIAIWaitTaskListQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="B2BBPMIAIWaitTaskListQryResponse">
    <wsdl:part element="tns:B2BBPMIAIWaitTaskListQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="B2B_BPMI_AIWaitTaskListQry">
    <wsdl:operation name="B2BBPMIAIWaitTaskListQry">
      <wsdl:input message="tns:B2BBPMIAIWaitTaskListQryRequest"/>
      <wsdl:output message="tns:B2BBPMIAIWaitTaskListQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="B2B_BPMI_AIWaitTaskListQrySOAP" type="tns:B2B_BPMI_AIWaitTaskListQry">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="B2BBPMIAIWaitTaskListQry">
      <soap:operation soapAction="http://www.cttq.com/B2B_BPMI_AIWaitTaskListQry/B2BBPMIAIWaitTaskListQry"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="B2B_BPMI_AIWaitTaskListQry">
    <wsdl:port binding="tns:B2B_BPMI_AIWaitTaskListQrySOAP" name="B2B_BPMI_AIWaitTaskListQrySOAP">
      <soap:address location="http://b2d.cttq.com:50000/B2B_BPMI_AIWaitTaskListQry/B2BBPMIAIWaitTaskListQryImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>