trainPlatform/wsdl_dev900/zhrtxws18.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZHRTXWS18">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZHRTXWS18_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZHRTXWS18">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>5284160BF2AF04E0E1008000C0A80114</sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZHRTXWS18">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char46">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="46"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal10.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="10"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal5.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="5"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal7.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="7"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="ZHRS_PUBLIC_IMPORT">
                <xsd:sequence>
                    <xsd:element name="FLOWNO" type="tns:char46"/>
                    <xsd:element name="PERNR" type="tns:numeric8"/>
                    <xsd:element name="ZDOMAIN" type="tns:char3"/>
                    <xsd:element name="I_PAGENO" type="tns:numeric6"/>
                    <xsd:element name="I_PAGESIZE" type="tns:numeric3"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZP9130">
                <xsd:sequence>
                    <xsd:element name="PERNR" type="tns:numeric8"/>
                    <xsd:element name="BEGDA" type="tns:char8"/>
                    <xsd:element name="ENDDA" type="tns:char8"/>
                    <xsd:element name="ZZ_KCBH" type="tns:char20"/>
                    <xsd:element name="ZZ_PXXM" type="tns:char40"/>
                    <xsd:element name="ZZ_PXLX" type="tns:char1"/>
                    <xsd:element name="ZZ_PXJD" type="tns:char1"/>
                    <xsd:element name="ZZ_PXFS" type="tns:char1"/>
                    <xsd:element name="ZZ_PXDX" type="tns:char1"/>
                    <xsd:element name="ZZ_KSXS" type="tns:char1"/>
                    <xsd:element name="ZZ_KSKM1" type="tns:char40"/>
                    <xsd:element name="ZZ_KSCJ1" type="tns:decimal5.2"/>
                    <xsd:element name="ZZ_KSKM2" type="tns:char40"/>
                    <xsd:element name="ZZ_KSCJ2" type="tns:decimal5.2"/>
                    <xsd:element name="ZZ_KSKM3" type="tns:char40"/>
                    <xsd:element name="ZZ_KSCJ3" type="tns:decimal5.2"/>
                    <xsd:element name="ZZ_KSKM4" type="tns:char40"/>
                    <xsd:element name="ZZ_KSCJ4" type="tns:decimal5.2"/>
                    <xsd:element name="ZZ_TGKH" type="tns:char1"/>
                    <xsd:element name="ZZ_JS" type="tns:char20"/>
                    <xsd:element name="ZZ_PXCPJX" type="tns:char2"/>
                    <xsd:element name="ZZ_PXCPMC" type="tns:char8"/>
                    <xsd:element name="ZZ_PXFY" type="tns:decimal10.2"/>
                    <xsd:element name="ZZ_PXDD" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKS" type="tns:decimal7.2"/>
                    <xsd:element name="ZZ_PXXF" type="tns:numeric4"/>
                    <xsd:element name="ZZ_HDZG" type="tns:char40"/>
                    <xsd:element name="ZZ_QDXY" type="tns:char1"/>
                    <xsd:element name="ZZ_PXJG" type="tns:char40"/>
                    <xsd:element name="ZZ_JS1" type="tns:char10"/>
                    <xsd:element name="ZZ_JS2" type="tns:char10"/>
                    <xsd:element name="ZZ_JS3" type="tns:char10"/>
                    <xsd:element name="ZZ_JS4" type="tns:char10"/>
                    <xsd:element name="ZZ_JS5" type="tns:char10"/>
                    <xsd:element name="ZZ_JS6" type="tns:char10"/>
                    <xsd:element name="ZZ_JS7" type="tns:char10"/>
                    <xsd:element name="ZZ_JS8" type="tns:char10"/>
                    <xsd:element name="ZZ_JS9" type="tns:char10"/>
                    <xsd:element name="ZZ_PXKM" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKM1" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKM2" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKM3" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKM4" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKM5" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKM6" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKM7" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKM8" type="tns:char40"/>
                    <xsd:element name="ZZ_PXKM9" type="tns:char40"/>
                    <xsd:element name="ZZ_PXCPJX2" type="tns:char2"/>
                    <xsd:element name="ZZ_PXCPMC2" type="tns:char8"/>
                    <xsd:element name="ZZ_KSXS2" type="tns:char1"/>
                    <xsd:element name="ZZ_KSXS3" type="tns:char1"/>
                    <xsd:element name="ZZ_KSXS4" type="tns:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZHRS_PUBLIC_EXPORT">
                <xsd:sequence>
                    <xsd:element name="TYPE" type="xsd:int"/>
                    <xsd:element name="CODE" type="tns:char8"/>
                    <xsd:element name="MESSAGE" type="tns:string"/>
                    <xsd:element name="TOTALSIZE" type="tns:numeric6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZP9130T">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZP9130" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZHRS_PUBLIC_EXPORT_T">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZHRS_PUBLIC_EXPORT" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZHRTXWS18">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IS_PUBLIC" type="tns:ZHRS_PUBLIC_IMPORT" minOccurs="0"/>
                        <xsd:element name="IT_PXLL" type="tns:ZP9130T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZHRTXWS18Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ET_PUBLIC" type="tns:ZHRS_PUBLIC_EXPORT_T"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZHRTXWS18">
        <wsdl:part name="parameters" element="tns:ZHRTXWS18"/>
    </wsdl:message>
    <wsdl:message name="ZHRTXWS18Response">
        <wsdl:part name="parameter" element="tns:ZHRTXWS18Response"/>
    </wsdl:message>
    <wsdl:portType name="ZHRTXWS18">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem docURL="http://cttqdev.cttq.com:8000/sap/bc/esdt/docu/sd_text?sap-client=900&amp;sd_name=ZHRTXWS18"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZHRTXWS18"/>
        </wsp:Policy>
        <wsdl:operation name="ZHRTXWS18">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZHRTXWS18"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZHRTXWS18"/>
            <wsdl:output message="tns:ZHRTXWS18Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZHRTXWS18" type="tns:ZHRTXWS18">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZHRTXWS18"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZHRTXWS18">
            <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZHRTXWS18:ZHRTXWS18Request" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZHRTXWS18_soap12" type="tns:ZHRTXWS18">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZHRTXWS18_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZHRTXWS18">
            <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZHRTXWS18:ZHRTXWS18Request" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZHRTXWS18">
        <wsdl:port name="ZHRTXWS18" binding="tns:ZHRTXWS18">
            <soap:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zhrtxws18/900/zhrtxws18/zhrtxws18"/>
        </wsdl:port>
        <wsdl:port name="ZHRTXWS18_soap12" binding="tns:ZHRTXWS18_soap12">
            <wsoap12:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zhrtxws18/900/zhrtxws18/zhrtxws18"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>