docPlatform/wsdl_dev/PORTALBPMIBatchAprMultiTypeImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cttq.com/PORTAL_BPMI_BatchAprMultiType/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PORTAL_BPMI_BatchAprMultiType" targetNamespace="http://www.cttq.com/PORTAL_BPMI_BatchAprMultiType/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cttq.com/PORTAL_BPMI_BatchAprMultiType/">
    
     <!-- 增加部分1 开始 -->
            <xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->

			<xsd:element name="PORTALBPMIBatchAprMultiType" type="tns:PORTALBPMIBatchAprMultiType">

			</xsd:element>
			<xsd:element name="PORTALBPMIBatchAprMultiTypeResponse" type="tns:PORTALBPMIBatchAprMultiTypeResponse">

			</xsd:element>

			<xsd:complexType name="PORTALBPMIBatchAprMultiType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="input" type="tns:PORTALBPMIBatchAprMultiTypeInput"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PORTALBPMIBatchAprMultiTypeResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="output" type="tns:PORTALBPMIBatchAprMultiTypeOutput"/>
				</xsd:sequence>
			</xsd:complexType>
			
            <xsd:complexType name="PORTALBPMIBatchAprMultiTypeInput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:AbstractType">
            			<xsd:sequence>
            				<xsd:element maxOccurs="unbounded" minOccurs="0" name="infoList" type="tns:InfoList">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="PORTALBPMIBatchAprMultiTypeOutput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:ReturnCode">
            			<xsd:sequence>
            				<xsd:element maxOccurs="unbounded" minOccurs="0" name="infoResList" type="tns:InfoResList">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="InfoList">
            	<xsd:sequence>
            		<xsd:element minOccurs="0" name="bussNo" type="xsd:string">
            		</xsd:element>
            		<xsd:element minOccurs="0" name="bussType" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="InfoResList">
            	<xsd:sequence>
            		<xsd:element minOccurs="0" name="bussNo" type="xsd:string">
            		</xsd:element>
            		<xsd:element minOccurs="0" name="bussType" type="xsd:string"/>
            		<xsd:element minOccurs="0" name="aprRes" type="xsd:string">
            		</xsd:element>
            		<xsd:element minOccurs="0" name="aprResDesc" type="xsd:string">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PORTALBPMIBatchAprMultiTypeRequest">
    <wsdl:part element="tns:PORTALBPMIBatchAprMultiType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PORTALBPMIBatchAprMultiTypeResponse">
    <wsdl:part element="tns:PORTALBPMIBatchAprMultiTypeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PORTAL_BPMI_BatchAprMultiType">
    <wsdl:operation name="PORTALBPMIBatchAprMultiType">
      <wsdl:input message="tns:PORTALBPMIBatchAprMultiTypeRequest"/>
      <wsdl:output message="tns:PORTALBPMIBatchAprMultiTypeResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.cttq.com/PORTAL_BPMI_BatchAprMultiType/" name="PORTAL_BPMI_BatchAprMultiType_Binding" type="ptns:PORTAL_BPMI_BatchAprMultiType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PORTALBPMIBatchAprMultiType">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PORTAL_BPMI_BatchAprMultiType">
<wsdl:port xmlns:bprf="http://www.cttq.com/PORTAL_BPMI_BatchAprMultiType/" binding="bprf:PORTAL_BPMI_BatchAprMultiType_Binding" name="PORTAL_BPMI_BatchAprMultiType_Port">
<soap:address location="http://cpd.cttq.com:50000/PORTAL_BPMI_BatchAprMultiType/PORTALBPMIBatchAprMultiTypeImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>