newcost/wsdl_dev/BCMCMFAnnexCommitBatchImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/BCM_CMF_AnnexCommitBatch/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BCM_CMF_AnnexCommitBatch" targetNamespace="http://www.thitech.com/BCM_CMF_AnnexCommitBatch/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/BCM_CMF_AnnexCommitBatch/">
      <!-- 增加部分1 开始 -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="originateTellerId">
            <xsd:annotation>
              <xsd:documentation>员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="BCMCMF_AnnexCommitBatch" type="tns:BCMCMFAnnexCommitBatch">
      </xsd:element>
      <xsd:element name="BCMCMF_AnnexCommitBatchResponse" type="tns:BCMCMFAnnexCommitBatchResponse">
      </xsd:element>
      <xsd:complexType name="BCMCMFAnnexCommitBatch">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:BCMCMFAnnexCommitBatchInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexCommitBatchResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:BCMCMFAnnexCommitBatchOutput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexCommitBatchInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="USRID" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="AnnexList" type="tns:AnnexEntity">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexCommitBatchOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="AtchIDs" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AnnexEntity">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="NAME" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DOCTYP" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="DOCTYPNM" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="DOCID" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="DOCRELID" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHTYP" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHTYPNM" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ATCHDECL" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ANNEXRES" type="xsd:base64Binary">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BCMCMF_AnnexCommitBatchRequest">
    <wsdl:part element="tns:BCMCMF_AnnexCommitBatch" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BCMCMF_AnnexCommitBatchResponse">
    <wsdl:part element="tns:BCMCMF_AnnexCommitBatchResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BCM_CMF_AnnexCommitBatch">
    <wsdl:operation name="BCMCMF_AnnexCommitBatch">
      <wsdl:input message="tns:BCMCMF_AnnexCommitBatchRequest"/>
      <wsdl:output message="tns:BCMCMF_AnnexCommitBatchResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://www.thitech.com/BCM_CMF_AnnexCommitBatch/" name="BCM_CMF_AnnexCommitBatch_Binding" type="ptns:BCM_CMF_AnnexCommitBatch">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BCMCMF_AnnexCommitBatch">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BCM_CMF_AnnexCommitBatch">
    <wsdl:port xmlns:bprf="http://www.thitech.com/BCM_CMF_AnnexCommitBatch/" binding="bprf:BCM_CMF_AnnexCommitBatch_Binding" name="BCM_CMF_AnnexCommitBatch_Port">
      <soap:address location="http://bmq.cttq.com:51600/BCM_CMF_AnnexCommitBatch/BCMCMFAnnexCommitBatchImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>