newcost/wsdl_dev/EMGPBUS2OpexOptImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cttq.com/EM_GPBUS2_OpexOpt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GPBUS2_OpexOpt" targetNamespace="http://www.cttq.com/EM_GPBUS2_OpexOpt/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cttq.com/EM_GPBUS2_OpexOpt/">
    <!-- 增加部分1 开始 -->
            <xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			
      <xsd:element name="EMGPBUS2_OpexOpt" type="tns:EMGPBUS2OpexOpt">

      </xsd:element>
      <xsd:element name="EMGPBUS2_OpexOptResponse" type="tns:EMGPBUS2OpexOptResponse">

      </xsd:element>

      <xsd:complexType name="EMGPBUS2OpexOpt">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:EMGPBUS2OpexOptInput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="EMGPBUS2OpexOptResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:EMGPBUS2OpexOptOutput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="EMGPBUS2OpexOptInput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:AbstractType">
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="0" name="opType" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							操作类型
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="perExpensesId" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							子表费用ID
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="perExpensesDat" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>日期</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="expMonth" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							费用月份
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>事由</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="modeCode" type="xsd:string">
      				</xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="modeNm" type="xsd:string">
      				</xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="usrNum" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>人数</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="expType" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							费用类型
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="expTypeNm" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							费用类型名称
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="expGrp" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>费用组</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="expGrpNm" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							费用组名称
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="expForm" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							费用组成
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="expFormNm" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							费用组成名称
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="entertainCode" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							经费对象编码
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="entertainNm" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							经费对象名称
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							填报金额
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>



      				<xsd:element maxOccurs="1" minOccurs="0" name="remark" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>备注</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="usrCode" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							发起人编码
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="usrNm" type="xsd:string">
      					<xsd:annotation>
      						<xsd:documentation>
      							发起人名称
      						</xsd:documentation>
      					</xsd:annotation>
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="actType" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="actTypeNm" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="aufnr" type="xsd:string">
      				</xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="aufnrNm" type="xsd:string">
      				</xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="sentertainCode" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="sentertainNm" type="xsd:string">
      				</xsd:element>



      				<xsd:element maxOccurs="1" minOccurs="0" name="deptCode" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="deptNm" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="usrArea" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="usrAreaNm" type="xsd:string">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="EMGPBUS2OpexOptOutput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:ReturnCode">
      			<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="perExpensesId" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>子表费用ID</xsd:documentation>
                </xsd:annotation>
							</xsd:element>
						</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMGPBUS2_OpexOptRequest">
    <wsdl:part element="tns:EMGPBUS2_OpexOpt" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMGPBUS2_OpexOptResponse">
    <wsdl:part element="tns:EMGPBUS2_OpexOptResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GPBUS2_OpexOpt">
    <wsdl:operation name="EMGPBUS2_OpexOpt">
      <wsdl:input message="tns:EMGPBUS2_OpexOptRequest"/>
      <wsdl:output message="tns:EMGPBUS2_OpexOptResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.cttq.com/EM_GPBUS2_OpexOpt/" name="EM_GPBUS2_OpexOpt_Binding" type="ptns:EM_GPBUS2_OpexOpt">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EMGPBUS2_OpexOpt">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_GPBUS2_OpexOpt">
<wsdl:port xmlns:bprf="http://www.cttq.com/EM_GPBUS2_OpexOpt/" binding="bprf:EM_GPBUS2_OpexOpt_Binding" name="EM_GPBUS2_OpexOpt_Port">
<soap:address location="http://bmq.cttq.com:51600/EM_GPBUS2_OpexOpt/EMGPBUS2OpexOptImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>