newcost/wsdl_dev/zbcmbcodewsforscan14.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZBCMBCODEWSFORSCAN14">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZBCMBCODEWSFORSCAN14_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZBCMBCODEWSFORSCAN14">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>5284160BF2AF04E0E1008000C0A80114</sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZBCMBCODEFORSCAN14">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char12">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char46">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="46"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal15.0">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="15"/>
                    <xsd:fractionDigits value="0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="ZBCMS_PUBLIC_IMPORT">
                <xsd:sequence>
                    <xsd:element name="CHANNELSERIALNO" type="tns:char46"/>
                    <xsd:element name="ORIGINATETELLERID" type="tns:numeric8"/>
                    <xsd:element name="ZDOMAIN" type="tns:char3"/>
                    <xsd:element name="I_PAGENO" type="tns:numeric6"/>
                    <xsd:element name="I_PAGESIZE" type="tns:numeric3"/>
                    <xsd:element name="ZVERSION" type="tns:decimal15.0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZBCMS_PUBLIC_EXPORT">
                <xsd:sequence>
                    <xsd:element name="TYPE" type="tns:char1"/>
                    <xsd:element name="CODE" type="tns:char8"/>
                    <xsd:element name="MESSAGE" type="tns:string"/>
                    <xsd:element name="TOTALSIZE" type="tns:numeric6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZBCMBCODEFORSCAN14">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IS_PUBLIC" type="tns:ZBCMS_PUBLIC_IMPORT" minOccurs="0"/>
                        <xsd:element name="I_UCODE" type="tns:char40" minOccurs="0"/>
                        <xsd:element name="I_UNAME" type="tns:char12" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZBCMBCODEFORSCAN14Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ES_PUBLIC" type="tns:ZBCMS_PUBLIC_EXPORT"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZBCMBCODEFORSCAN14">
        <wsdl:part name="parameters" element="tns:ZBCMBCODEFORSCAN14"/>
    </wsdl:message>
    <wsdl:message name="ZBCMBCODEFORSCAN14Response">
        <wsdl:part name="parameter" element="tns:ZBCMBCODEFORSCAN14Response"/>
    </wsdl:message>
    <wsdl:portType name="ZBCMBCODEWSFORSCAN14">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem docURL="http://cttqdev.cttq.com:8000/sap/bc/esdt/docu/sd_text?sap-client=900&amp;sd_name=ZBCMBCODEWSFORSCAN14"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZBCMBCODEWSFORSCAN14"/>
        </wsp:Policy>
        <wsdl:operation name="ZBCMBCODEFORSCAN14">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZBCMBCODEFORSCAN14"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZBCMBCODEFORSCAN14"/>
            <wsdl:output message="tns:ZBCMBCODEFORSCAN14Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZBCMBCODEWSFORSCAN14" type="tns:ZBCMBCODEWSFORSCAN14">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZBCMBCODEWSFORSCAN14"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZBCMBCODEFORSCAN14">
            <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZBCMBCODEWSFORSCAN14:ZBCMBCODEFORSCAN14Request" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZBCMBCODEWSFORSCAN14_soap12" type="tns:ZBCMBCODEWSFORSCAN14">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZBCMBCODEWSFORSCAN14_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZBCMBCODEFORSCAN14">
            <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZBCMBCODEWSFORSCAN14:ZBCMBCODEFORSCAN14Request" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZBCMBCODEWSFORSCAN14">
        <wsdl:port name="ZBCMBCODEWSFORSCAN14" binding="tns:ZBCMBCODEWSFORSCAN14">
            <soap:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zbcmbcodewsforscan14/900/zbcmbcodewsforscan14/zbcmbcodewsforscan14"/>
        </wsdl:port>
        <wsdl:port name="ZBCMBCODEWSFORSCAN14_soap12" binding="tns:ZBCMBCODEWSFORSCAN14_soap12">
            <wsoap12:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zbcmbcodewsforscan14/900/zbcmbcodewsforscan14/zbcmbcodewsforscan14"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>