cost/wsdl_pro/EMCMBAIWaitTaskListQryImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_CMB_AIWaitTaskListQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_CMB_AIWaitTaskListQry" targetNamespace="http://www.thitech.com/EM_CMB_AIWaitTaskListQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_CMB_AIWaitTaskListQry/">
    <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
      <xsd:element name="EMCMBAIWaitTaskListQry" type="tns:EMCMBAIWaitTaskListQry">

      </xsd:element>
      <xsd:element name="EMCMBAIWaitTaskListQryResponse" type="tns:EMCMBAIWaitTaskListQryResponse">

      </xsd:element>


      <xsd:complexType name="EMCMBAIWaitTaskListQry">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="1" name="Input" type="tns:EMCMBAIWaitTaskListQryInput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="EMCMBAIWaitTaskListQryInput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:AbstractType">
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="usrId" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="1" name="startPage" type="xsd:int">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="1" name="pageSize" type="xsd:int">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="EMCMBAIWaitTaskListQryOutput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:ReturnCode">
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="0" name="totalCnt" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="totalAmt" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="unbounded" minOccurs="0" name="outList" type="tns:EMCMBAIWaitTaskListQryOutList">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="EMCMBAIWaitTaskListQryResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="1" name="Output" type="tns:EMCMBAIWaitTaskListQryOutput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="WaitTaskList"/>
        
        
        
        
        
      <xsd:complexType name="EMCMBAIWaitTaskListQryOutList">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrId" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrNm" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrDeptNm" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="bussType" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="procType" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="startTime" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="agrAmt" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="exceedFlag" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="feeType" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="procInstNo" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="sysCode" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="statusNm" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="procTypeNm" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="exceedFalgNm" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMCMBAIWaitTaskListQryRequest">
    <wsdl:part element="tns:EMCMBAIWaitTaskListQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMCMBAIWaitTaskListQryResponse">
    <wsdl:part element="tns:EMCMBAIWaitTaskListQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_CMB_AIWaitTaskListQry">
    <wsdl:operation name="EMCMBAIWaitTaskListQry">
      <wsdl:input message="tns:EMCMBAIWaitTaskListQryRequest"/>
      <wsdl:output message="tns:EMCMBAIWaitTaskListQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.thitech.com/EM_CMB_AIWaitTaskListQry/" name="EM_CMB_AIWaitTaskListQry_Binding" type="ptns:EM_CMB_AIWaitTaskListQry">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EMCMBAIWaitTaskListQry">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_CMB_AIWaitTaskListQry_Service">
<wsdl:port xmlns:bprf="http://www.thitech.com/EM_CMB_AIWaitTaskListQry/" binding="bprf:EM_CMB_AIWaitTaskListQry_Binding" name="EM_CMB_AIWaitTaskListQry_Port">
<soap:address location="http://bcm.cttq.com:8085/EM_CMB_AIWaitTaskListQry_Service/EMCMBAIWaitTaskListQryImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>