cost/wsdl_pro/EMGRPEXPTRVLAPRImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GRPEXP_TRVLAPR/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GRPEXP_TRVLAPR" targetNamespace="http://www.thitech.com/EM_GRPEXP_TRVLAPR/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GRPEXP_TRVLAPR/">
      <!-- 增加部分1 开始 -->
            <xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			<xsd:element name="EMGRPEXPTRVLAPR" type="tns:EMGRPEXPTRVLAPR">

			</xsd:element>
			<xsd:element name="EMGRPEXPTRVLAPRResponse" type="tns:EMGRPEXPTRVLAPRResponse">

			</xsd:element>

			<xsd:complexType name="EMGRPEXPTRVLAPR">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:EMGRPEXPTRVLAPRInput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EMGRPEXPTRVLAPRResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:EMGRPEXPTRVLAPROutput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EMGRPEXPTRVLAPRInput">
				<xsd:complexContent>
					<xsd:extension base="tns:AbstractType">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="taskId" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="nextStep" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="nextStepUser" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="nextDept" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="nextDeptNm" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="needBack" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="lastStep" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="appType" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="appOpinion" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="redReason" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="compCode" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="perRangeID" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="perRangeNm" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="deptID" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="deptNm" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="userID" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="trObjectId" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="travNo" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="travelClass" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="bagrAmt" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="appTyp" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="exceedFlag" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="exceedAmt" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="trvlTopIC" type="tns:TrvlTopIC">
            				</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="EMGRPEXPTRVLAPROutput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:ReturnCode"/>
            	</xsd:complexContent>
            </xsd:complexType>
    
            <xsd:complexType name="TrvlTopIC">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="trSubItemId" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bagrAmt" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="trDetailItems" type="tns:TrDetailItems"/>
            	</xsd:sequence>
            </xsd:complexType>
        
            <xsd:complexType name="TrDetailItems">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="trDetailItemId" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="memo" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bagrAmt" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMGRPEXPTRVLAPRRequest">
    <wsdl:part element="tns:EMGRPEXPTRVLAPR" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMGRPEXPTRVLAPRResponse">
    <wsdl:part element="tns:EMGRPEXPTRVLAPRResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GRPEXP_TRVLAPR">
    <wsdl:operation name="EMGRPEXPTRVLAPR">
      <wsdl:input message="tns:EMGRPEXPTRVLAPRRequest"/>
      <wsdl:output message="tns:EMGRPEXPTRVLAPRResponse"/>
    </wsdl:operation>
  </wsdl:portType>
<wsdl:binding xmlns:ptns="http://www.thitech.com/EM_GRPEXP_TRVLAPR/" name="EM_GRPEXP_TRVLAPR_Binding" type="ptns:EM_GRPEXP_TRVLAPR">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EMGRPEXPTRVLAPR">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_GRPEXP_TRVLAPR">
<wsdl:port xmlns:bprf="http://www.thitech.com/EM_GRPEXP_TRVLAPR/" binding="bprf:EM_GRPEXP_TRVLAPR_Binding" name="EM_GRPEXP_TRVLAPR_Port">
<soap:address location="http://bcm.cttq.com:8085/EM_GRPEXP_TRVLAPR/EMGRPEXPTRVLAPRImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>