newcost/wsdl_qas900/BCMCMFBCMCMFAnnexDltServiceImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://thitech.com/BCM_CMF_AnnexDlt_Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BCM_CMF_AnnexDlt_Service" targetNamespace="http://thitech.com/BCM_CMF_AnnexDlt_Service/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://thitech.com/BCM_CMF_AnnexDlt_Service/">
      <!-- 增加部分1 开始 -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="originateTellerId">
            <xsd:annotation>
              <xsd:documentation>员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="BCMCMFAnnexDlt" type="tns:BCMCMFAnnexDlt">
      </xsd:element>
      <xsd:element name="BCMCMFAnnexDltResponse" type="tns:BCMCMFAnnexDltResponse">
      </xsd:element>
      <xsd:complexType name="BCMCMFAnnexDlt">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Input" type="tns:BCMCMFAnnexDltInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexDltResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Return" type="tns:BCMCMFAnnexDltOutput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexDltInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="BCMCMFAnnexDltInList" type="tns:BCMCMFAnnexDltIpList">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexDltOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BCMCMFAnnexDltIpList">
        <xsd:sequence>
          <xsd:element name="ATCHID" type="xsd:string"/>
          <xsd:element name="ATCHROUT" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BCMCMFAnnexDltRequest">
    <wsdl:part element="tns:BCMCMFAnnexDlt" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BCMCMFAnnexDltResponse">
    <wsdl:part element="tns:BCMCMFAnnexDltResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BCM_CMF_BCMCMFAnnexDlt_Service">
    <wsdl:operation name="BCMCMFAnnexDlt">
      <wsdl:input message="tns:BCMCMFAnnexDltRequest"/>
      <wsdl:output message="tns:BCMCMFAnnexDltResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://thitech.com/BCM_CMF_AnnexDlt_Service/" name="BCM_CMF_BCMCMFAnnexDlt_Service_Binding" type="ptns:BCM_CMF_BCMCMFAnnexDlt_Service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BCMCMFAnnexDlt">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BCM_CMF_BCMCMFAnnexDlt_Service_Service">
    <wsdl:port xmlns:bprf="http://thitech.com/BCM_CMF_AnnexDlt_Service/" binding="bprf:BCM_CMF_BCMCMFAnnexDlt_Service_Binding" name="BCM_CMF_BCMCMFAnnexDlt_Service_Port">
      <soap:address location="http://bmu.cttq.com:51800/BCM_CMF_BCMCMFAnnexDlt_Service_Service/BCMCMFBCMCMFAnnexDltServiceImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>