newcost/wsdl_qas900/EMGPTRVLGoHomeInfoQryImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GPTRVL_GoHomeInfoQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GPTRVL_GoHomeInfoQry" targetNamespace="http://www.thitech.com/EM_GPTRVL_GoHomeInfoQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GPTRVL_GoHomeInfoQry/">
      <!-- 增加部分1 开始  -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
            <xsd:annotation>
              <xsd:documentation>当前员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="EMGPTRVLGoHomeInfoQry" type="tns:EMGPTRVLGoHomeInfoQry">
      </xsd:element>
      <xsd:element name="EMGPTRVLGoHomeInfoQryResponse" type="tns:EMGPTRVLGoHomeInfoQryResponse">
      </xsd:element>
      <xsd:complexType name="EMGPTRVLGoHomeInfoQry">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:EMGPTRVLGoHomeInfoQryInput">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EMGPTRVLGoHomeInfoQryResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:EMGPTRVLGoHomeInfoQryOutput">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EMGPTRVLGoHomeInfoQryInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="usrCode" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EMGPTRVLGoHomeInfoQryOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="usrInfo" type="tns:UsrInfo">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="totalCount" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="totalAmt" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="travelGrpList" type="tns:travelGrp">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TrItem">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="travsId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="travType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="travTypeNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="aproAmt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="transitCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="origProv" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="origProvNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCity" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCityNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCounty" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCountyNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="destProv" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="destProvNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCity" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCityNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCounty" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCountyNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="startTime" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="endTime" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="roundFlag" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="trvlDay" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UsrInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="FAMST" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="FAMSTNM" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="FAMSA02" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ZZ_LXDZ2" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="FAMSA01" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ZZ_LXDZ1" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="FAMSA03" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ZZ_LXDZ3" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="type" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="travelGrp">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="trItems" type="tns:TrItem"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMGPTRVLGoHomeInfoQryRequest">
    <wsdl:part element="tns:EMGPTRVLGoHomeInfoQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMGPTRVLGoHomeInfoQryResponse">
    <wsdl:part element="tns:EMGPTRVLGoHomeInfoQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GPTRVL_GoHomeInfoQry">
    <wsdl:operation name="EMGPTRVLGoHomeInfoQry">
      <wsdl:input message="tns:EMGPTRVLGoHomeInfoQryRequest"/>
      <wsdl:output message="tns:EMGPTRVLGoHomeInfoQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://www.thitech.com/EM_GPTRVL_GoHomeInfoQry/" name="EM_GPTRVL_GoHomeInfoQry_Binding" type="ptns:EM_GPTRVL_GoHomeInfoQry">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EMGPTRVLGoHomeInfoQry">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EM_GPTRVL_GoHomeInfoQry">
    <wsdl:port xmlns:bprf="http://www.thitech.com/EM_GPTRVL_GoHomeInfoQry/" binding="bprf:EM_GPTRVL_GoHomeInfoQry_Binding" name="EM_GPTRVL_GoHomeInfoQry_Port">
      <soap:address location="http://bmu.cttq.com:51800/EM_GPTRVL_GoHomeInfoQry/EMGPTRVLGoHomeInfoQryImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>