newcost/wsdl_qas900/EMGRPTRVLCheckHistorySubmitInfoImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GRPTRVL_CheckHistorySubmitInfo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GRPTRVL_CheckHistorySubmitInfo" targetNamespace="http://www.thitech.com/EM_GRPTRVL_CheckHistorySubmitInfo/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GRPTRVL_CheckHistorySubmitInfo/">
      <!-- 增加部分1  开始  -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
            <xsd:annotation>
              <xsd:documentation>当前员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="EMGRPTRVL_CheckHistorySubmitInfo" type="tns:EMGRPTRVLCheckHistorySubmitInfo">
      </xsd:element>
      <xsd:element name="EMGRPTRVL_CheckHistorySubmitInfoResponse" type="tns:EMGRPTRVLCheckHistorySubmitInfoResponse">
      </xsd:element>
      <xsd:complexType name="EMGRPTRVLCheckHistorySubmitInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:EMGRPTRVLCheckHistorySubmitInfoInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EMGRPTRVLCheckHistorySubmitInfoResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:EMGRPTRVLCheckHistorySubmitInfoOutput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EMGRPTRVLCheckHistorySubmitInfoInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="usrId" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EMGRPTRVLCheckHistorySubmitInfoOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="travNos" type="xsd:string">
              </xsd:element>
              <xsd:element minOccurs="0" name="travHisNos" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMGRPTRVL_CheckHistorySubmitInfoRequest">
    <wsdl:part element="tns:EMGRPTRVL_CheckHistorySubmitInfo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMGRPTRVL_CheckHistorySubmitInfoResponse">
    <wsdl:part element="tns:EMGRPTRVL_CheckHistorySubmitInfoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GRPTRVL_CheckHistorySubmitInfo">
    <wsdl:operation name="EMGRPTRVL_CheckHistorySubmitInfo">
      <wsdl:input message="tns:EMGRPTRVL_CheckHistorySubmitInfoRequest"/>
      <wsdl:output message="tns:EMGRPTRVL_CheckHistorySubmitInfoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://www.thitech.com/EM_GRPTRVL_CheckHistorySubmitInfo/" name="EM_GRPTRVL_CheckHistorySubmitInfo_Binding" type="ptns:EM_GRPTRVL_CheckHistorySubmitInfo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EMGRPTRVL_CheckHistorySubmitInfo">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EM_GRPTRVL_CheckHistorySubmitInfo">
    <wsdl:port xmlns:bprf="http://www.thitech.com/EM_GRPTRVL_CheckHistorySubmitInfo/" binding="bprf:EM_GRPTRVL_CheckHistorySubmitInfo_Binding" name="EM_GRPTRVL_CheckHistorySubmitInfo_Port">
      <soap:address location="http://bmu.cttq.com:51800/EM_GRPTRVL_CheckHistorySubmitInfo/EMGRPTRVLCheckHistorySubmitInfoImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>