newcost/wsdl_qas900/EMGRPTRVLSumPreviewQryImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GRPTRVL_SumPreviewQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GRPTRVL_SumPreviewQry" targetNamespace="http://www.thitech.com/EM_GRPTRVL_SumPreviewQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GRPTRVL_SumPreviewQry/">
      <!-- 增加部分1  开始  -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
            <xsd:annotation>
              <xsd:documentation>当前员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="EM_GRPTRVL_SumPreviewQry" type="tns:EM_GRPTRVL_SumPreviewQry">
      </xsd:element>
      <xsd:element name="EM_GRPTRVL_SumPreviewQryResponse" type="tns:EM_GRPTRVL_SumPreviewQryResponse">
      </xsd:element>
      <xsd:complexType name="EM_GRPTRVL_SumPreviewQry">
        <xsd:sequence>
          <xsd:element name="input" type="tns:EM_GRPTRVL_SumPreviewQryInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EM_GRPTRVL_SumPreviewQryInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="tvGrpList" type="tns:tvList">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EM_GRPTRVL_SumPreviewQryResponse">
        <xsd:sequence>
          <xsd:element name="output" type="tns:EM_GRPTRVL_SumPreviewQryOutput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EM_GRPTRVL_SumPreviewQryOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="SummaryList" type="tns:Summary">
              </xsd:element>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="TravsList" type="tns:travsList">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Summary">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="expForm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expFormNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invoiceCount" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="amt" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="travsInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="travsId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="transitFlag" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCity" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCityNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCounty" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCountyNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCity" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCityNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCounty" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCountyNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="travTopic" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="roundFlag" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="travTyp" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tvList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="travsId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="travsList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="travsInfo" type="tns:travsInfo"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="expMsgList" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EM_GRPTRVL_SumPreviewQryRequest">
    <wsdl:part element="tns:EM_GRPTRVL_SumPreviewQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EM_GRPTRVL_SumPreviewQryResponse">
    <wsdl:part element="tns:EM_GRPTRVL_SumPreviewQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GRPTRVL_SumPreviewQry">
    <wsdl:operation name="EM_GRPTRVL_SumPreviewQry">
      <wsdl:input message="tns:EM_GRPTRVL_SumPreviewQryRequest"/>
      <wsdl:output message="tns:EM_GRPTRVL_SumPreviewQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://www.thitech.com/EM_GRPTRVL_SumPreviewQry/" name="EM_GRPTRVL_SumPreviewQry_Binding" type="tns:EM_GRPTRVL_SumPreviewQry">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EM_GRPTRVL_SumPreviewQry">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EM_GRPTRVL_SumPreviewQry">
    <wsdl:port xmlns:bprf="http://www.thitech.com/EM_GRPTRVL_SumPreviewQry/" binding="tns:EM_GRPTRVL_SumPreviewQry_Binding" name="EM_GRPTRVL_SumPreviewQry_Port">
      <soap:address location="http://bmu.cttq.com:51800/EM_GRPTRVL_SumPreviewQry/EMGRPTRVLSumPreviewQryImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>