newcost/wsdl_qas900/EMGRPTRVLQRYSameDateUnSubmitImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_GRPTRVL_QRYSameDateUnSubmit/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_GRPTRVL_QRYSameDateUnSubmit" targetNamespace="http://www.thitech.com/EM_GRPTRVL_QRYSameDateUnSubmit/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_GRPTRVL_QRYSameDateUnSubmit/">
      <!-- 增加部分1 开始  -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
            <xsd:annotation>
              <xsd:documentation>当前员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="SameDateUnSubmit" type="tns:SameDateUnSubmit">
      </xsd:element>
      <xsd:element name="SameDateUnSubmitResponse" type="tns:SameDateUnSubmitResponse">
      </xsd:element>
      <xsd:complexType name="SameDateUnSubmit">
        <xsd:sequence>
          <xsd:element name="input" type="tns:SameDateUnSubmitInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SameDateUnSubmitInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SameDateUnSubmitResponse">
        <xsd:sequence>
          <xsd:element name="output" type="tns:SameDateUnSubmitOutput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SameDateUnSubmitOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="travels" type="tns:Travels">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Travels">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="travelsId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="manSortNum" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="weekDay" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCity" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCityNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCnty" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="origCntyNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCity" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCityNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCnty" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="destCntyNm" type="xsd:string">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SameDateUnSubmitRequest">
    <wsdl:part element="tns:SameDateUnSubmit" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SameDateUnSubmitResponse">
    <wsdl:part element="tns:SameDateUnSubmitResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_GRPTRVL_QRYSameDateUnSubmit">
    <wsdl:operation name="SameDateUnSubmit">
      <wsdl:input message="tns:SameDateUnSubmitRequest"/>
      <wsdl:output message="tns:SameDateUnSubmitResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EM_GRPTRVL_QRYSameDateUnSubmitSOAP" type="tns:EM_GRPTRVL_QRYSameDateUnSubmit">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SameDateUnSubmit">
      <soap:operation soapAction="http://www.thitech.com/EM_GRPTRVL_QRYSameDateUnSubmit/SameDateUnSubmit"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EM_GRPTRVL_QRYSameDateUnSubmit">
    <wsdl:port binding="tns:EM_GRPTRVL_QRYSameDateUnSubmitSOAP" name="EM_GRPTRVL_QRYSameDateUnSubmitSOAP">
      <soap:address location="http://bmu.cttq.com:51800/EM_GRPTRVL_QRYSameDateUnSubmit/EMGRPTRVLQRYSameDateUnSubmitImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>